extends _layout

block title
  title #{title}

block contents
  ul.projects-navigation
    if (prev)
      li.projects-navigation__item
        a.projects-navigation__link(href=prev) prev
    li.projects-navigation__item
      a.projects-navigation__link(href="/") home
    li.projects-navigation__item
      a.projects-navigation__link(href="./") reload
    if (next)
      li.projects-navigation__item
        a.projects-navigation__link(href=next) next

block append scripts
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"
    integrity="sha512-b/htz6gIyFi3dwSoZ0Uv3cuv3Ony7EeKkacgrcVg8CMzu90n777qveu0PBcbZUA7TzyENGtU+qZRuFAkfqgyoQ=="
    crossorigin="anonymous"
  )
  each script in scripts
    script(src=script)
